<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right extra-options" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"> 
<img src="./assets/swift.jpg" height="45" width="120">   </a>
  <div class="collapse navbar-collapse " id="navbarText">
    <div class ="navbar-links">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active list-text ">
        <a class="nav-link " href="#"><span class="list-text"> + Add </span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item list-text">
        <a class="nav-link " href="#"><span class="list-text"> Map </span></a>
      </li>
      <li class="nav-item list-text">
        <a class="nav-link list-text" href="#"><span class ="list-text"> Reports </span> </a>
      </li>
    </ul>
    </div>
   <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

  </div>
</nav>